@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Book.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/CircularStd-Black.otf");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Circular";
  font-style: normal;
  height: 100vh;
}

#main-container {
  background: rgb(24, 21, 21);
  background: linear-gradient(to bottom, rgb(206, 180, 67), rgb(32, 28, 28) 410px);
  background-attachment: local;
  max-height: 90vh;
  overflow: auto;
}
#album-img {
  width: 200px;
  height: 200px;
}

svg {
  fill: white;
}

#play svg {
  fill: black;
}

svg:hover {
  fill: green;
}

#play {
  background: white;
  aspect-ratio: 1/1;
}

a {
  text-decoration: none;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #535353;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer {
  background-color: rgb(32, 28, 28);
}

.green-title {
  color: rgb(43, 185, 43);
}

@media screen and (max-width: 991px) {
  #friends,
  #comments,
  #user-playlists,
  #three-dots,
  #icon,
  #containerRight,
  #next,
  #previous,
  #repeat,
  #another-svg,
  #shuffle,
  #playbackBar .playback-bar,
  #playback-progressbar,
  input,
  #time {
    display: none;
  }

  #song-img {
    width: 50px;
  }
  #container-navbar {
    position: fixed;
    bottom: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
  #player {
    position: fixed;
    width: 94%;
    margin-inline: 12px;
    bottom: 93px;
    border-radius: 10px;
    justify-content: space-between;
    background-color: rgb(63, 63, 63);
    margin-left: 3%;
  }

  #navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  #mobile-navbar {
    display: flex;
    justify-content: space-evenly;
  }

  #navbar-menu li {
    margin-right: 22px;
    flex-direction: column;
  }

  #navbar-menu svg {
    margin-right: 12px;
  }

  #play {
    background: none;
  }

  #play svg {
    fill: white;
    scale: 1.2;
  }

  #heart-svg svg {
    scale: 1.2;
  }

  #speakers svg {
    scale: 1.2;
  }

  #album-img {
    width: 66%;
    height: 66%;
  }
}
